$color-main-dark:#112222;
$color-main-yellow:#FAF61D;
$color-main-blue:#AAE6E7;

$color-spanish-light:#ffb900;
$color-spanish-dark:#ff7730;

$color-english-light:#2998ff;
$color-english-dark:#5643fa;

$color-grey-light:#eee;
$color-grey-dark:#DCDCDC;

$font-size-small:1.7rem;
$font-size-medium:2.2rem;
$font-size-large:3rem;