@import "../../styles/variables";

.main{    
    margin-top: 5rem;    
}

.teacher-block{    
    background-color: $color-main-dark;
    transform: skewY(5deg);

    & > *{
        transform: skewY(-5deg);    
    }
}
img{
    width: 100%;   
}
.row{
    width: 100%;    
}
.col-5, .col-4{
    padding: 2rem;    
}

p{
    font-size: $font-size-small;
    color: $color-main-blue;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.heading-container{  
    width: 100%;  
    display: flex;
    justify-content: flex-start;

    .heading-content{
        color: rgb(201, 192, 192);
        padding-left: 2rem;
        width: fit-content;
    }
}

.quote-container{
    width: 100%;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    color: rgb(201, 192, 192);   
}
