@import "../../styles/variables";

.main{    
    margin-top: 5rem;      
}

.teacher-block{   
    min-height: 60rem;  
    background-color: $color-main-dark;
    transform: skewY(5deg);

    & > *{
        transform: skewY(-5deg);    
    }
}
img{
    width: 100%;   
    @media (max-width:42.75em) { 
        width: 80%;  
        margin: 0 auto;
    }; 
    
}
.img{
    @media (max-width:42.75em) { 
        display: flex;
        justify-content: center;  
    }; 
}
.row{
    width: 100%;  
    @media (max-width:58.5em) { 
        justify-content: flex-start; 
    }; 
    
}
.content{
    flex-wrap: wrap;
}
.content-rew{
    flex-wrap: wrap-reverse;
}
.col-5, .col-4{
    padding: 2rem; 
    min-width: 320px;  

    @media (max-width:42.75em) { 
        width: 93.5%;  
    }; 
    @media (max-width:22.25em) { 
        min-width: 200px;
    }; 
}
.col-8{
    @media (max-width:58.5em) { 
        width: 93.5%;  
    };
    
}

p{
    font-size: $font-size-small;
    color: $color-main-blue;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.heading-container{  
    width: 100%;  
    display: flex;
    justify-content: flex-start;

    @media (max-width:42.75em) { 
        width: 93.5%;
        padding: 1rem;  
    }; 

    .heading-content{
        color: rgb(201, 192, 192);
        padding-left: 2rem;
        width: fit-content;
    }
}

.quote-container{
    width: 100%;
    padding-right: 2rem;
    display: flex;
    justify-content: flex-end;
    color: rgb(201, 192, 192);  
    
    @media (max-width:42.75em) { 
        width: 93.5%;
        padding: 1rem;  
    }; 
}
.not-mobile{
    @media (max-width:30em) { 
        display: none; 
    }; 
}
