<div 
    class="header" 
    [@expand-header]="!this.animations ? 'closed' : 'open'"     
    (@expand-header.done)="end($event)"
    >  
    <app-logo [finishedExpand]="finishedExpand"></app-logo>
    <app-burger-button 
        (click)="toggleButton()" 
        [toggler]="toggler"
        [finishedExpand]="finishedExpand"
        ></app-burger-button>
    <div class="fake-div"></div>
</div>
    <div class="navigation-menu" 
        [@expand-menu]="toggler? 'open' : 'closed'"
        (@expand-menu.done)="doneMenuAnimation($event)"
        (@expand-menu.start)="startMenuAnimation($event)"
        >
        <div class="menu-items" *ngIf="toggler || menu">
            <app-nav-item [title]="'Про нас'" [expandMenu]="showMenu" [delayIn]="'0.1s'" [delayOut]="'1.3s'"></app-nav-item>
            <app-nav-item [title]="'Викладачі'" [expandMenu]="showMenu" [delayIn]="'0.5s'" [delayOut]="'0.9s'"></app-nav-item>
            <app-nav-item [title]="'Курси'" [expandMenu]="showMenu" [delayIn]="'0.9s'" [delayOut]="'0.5s'"></app-nav-item>
            <app-nav-item [title]="'Контакти'" [expandMenu]="showMenu" [delayIn]="'1.3s'" [delayOut]="'0.1s'"></app-nav-item>                             
        </div>
    </div>  

