<div class="main" id="contacts">
    <div class="bg-gradient">
        <div class="heading">
            <h1 class="header-primary white">Контакти</h1>
        </div>
        <div class="u-margin-top-small contacts">     
                       
            <div class="col-5 info-container">
                <div class="info">
                    <p>м.Вінниця, вул.Магістратська, 33 офіс 304</p>
                    <p>тел. (073) 215-10-20</p>
                </div>
                <div class="ofice-photos">
                    <div class="ofice-photo-1"></div>
                    <div class="ofice-photo-2"></div>
                    <div class="ofice-photo-3"></div>
                </div>
            </div>  
            <div class="col-5 map">                             
                <app-map></app-map>
            </div>        
                
        </div>
    </div>    
</div>
