@import "../../styles/variables";

.card-container{
    background-color: white;
    width: 30rem;
    min-height: 45rem;
    box-shadow: 0 1.5rem 4rem rgba($color-main-dark, .25);   
    border-radius: 3px;
    margin: 2rem;
    transition: all .5s ease-in-out;
    
    &:hover{
        transform: scale(1.02) translateY(-5px);
        
    }
   
}
.header{
    position: relative;
    margin: 0 auto;

    &__picture{
        height: 20rem;        
        background-blend-mode: screen;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--sp-a1{
            background-image: linear-gradient(to right bottom, $color-spanish-light, $color-spanish-dark),
            url(https://lh3.googleusercontent.com/BL4fDPd6Ezk6VUNLgRP3Vr4JZ54Zw_Yw4rq3SyPL5ysZjp3q2lbaIt0_XX8iVmk3yytgPl4ihQS3TTpyZefJMww2COjh2Wt4uObUbySCO9mvCpYIxKiKQ4oFLH0nH1zbWdw-gxI9ww=w2400);        
        }
        &--en-a1{
            background-image: linear-gradient(to right bottom, $color-english-light, $color-english-dark),
            url(https://lh3.googleusercontent.com/BL4fDPd6Ezk6VUNLgRP3Vr4JZ54Zw_Yw4rq3SyPL5ysZjp3q2lbaIt0_XX8iVmk3yytgPl4ihQS3TTpyZefJMww2COjh2Wt4uObUbySCO9mvCpYIxKiKQ4oFLH0nH1zbWdw-gxI9ww=w2400);        
        }
        &--sp-a2{
            background-image: linear-gradient(to right bottom, $color-spanish-light, $color-spanish-dark),
            url(https://lh3.googleusercontent.com/3ge44fdPLCsRrQ82m4Godg7SNhWYDFKm54wYumKAY6EuZkUcz1me6Hym8fipWPkbc7HZbOFj7jQNeAjWcmpV89Ndfqv4H25F6PBJCtxpBf4c7w5pvLf_4xWoVmXzewM_tYo3a-4QVw=w2400);        
        }
        &--en-a2{
            background-image: linear-gradient(to right bottom, $color-english-light, $color-english-dark),
            url(https://lh3.googleusercontent.com/3ge44fdPLCsRrQ82m4Godg7SNhWYDFKm54wYumKAY6EuZkUcz1me6Hym8fipWPkbc7HZbOFj7jQNeAjWcmpV89Ndfqv4H25F6PBJCtxpBf4c7w5pvLf_4xWoVmXzewM_tYo3a-4QVw=w2400);        
        }
        &--sp-b1{
            background-image: linear-gradient(to right bottom, $color-spanish-light, $color-spanish-dark),
            url(https://lh3.googleusercontent.com/hzfmsqNcDQy4BsWZBDdGC0sDFM5BfM2fz8Rr7RJPssd8P-ZnP3pPEDzz1rS3A8qLk4Uqw_8HSgWL0LTIAkPpRLI735p5Gid4Psbbqz5-AMlW4G9vrd2NXlotbKYNjGG1oV1JbZ3M_A=w2400);        
        }
        &--en-b1{
            background-image: linear-gradient(to right bottom, $color-english-light, $color-english-dark),
            url(https://lh3.googleusercontent.com/hzfmsqNcDQy4BsWZBDdGC0sDFM5BfM2fz8Rr7RJPssd8P-ZnP3pPEDzz1rS3A8qLk4Uqw_8HSgWL0LTIAkPpRLI735p5Gid4Psbbqz5-AMlW4G9vrd2NXlotbKYNjGG1oV1JbZ3M_A=w2400);        
        }
        &--sp-b2{
            background-image: linear-gradient(to right bottom, $color-spanish-light, $color-spanish-dark),
            url(https://lh3.googleusercontent.com/EK_gaSCgMGVR815gnvdMQrpMFwbZx_bO67GK6G2Xh90c-M0MVfILaruqGKTJKinzpl-yq0FMlIvnHQ_kl7G9ek54je8cMK120VQ6R_9JHC4r056EFuQD5yjn3vsDCssrbomf4IchPQ=w2400);        
        }
        &--en-b2{
            background-image: linear-gradient(to right bottom, $color-english-light, $color-english-dark),
            url(https://lh3.googleusercontent.com/EK_gaSCgMGVR815gnvdMQrpMFwbZx_bO67GK6G2Xh90c-M0MVfILaruqGKTJKinzpl-yq0FMlIvnHQ_kl7G9ek54je8cMK120VQ6R_9JHC4r056EFuQD5yjn3vsDCssrbomf4IchPQ=w2400);        
        }
    }
    &__level{
        width: 9rem;
        height: 9rem;
        position: absolute;
        top: 12rem;
        right: 2rem;       
        color: $color-main-dark;
        border-radius: 50%;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &--sp{
            background-color: $color-spanish-light;
        }
        &--en{
            background-color: $color-english-light;
        }
    }
}
.course-info{
    padding: 3rem;
    padding-bottom: 2rem;
    ul{
        list-style: none;
        width: 90%;  
        margin: 0 auto;          

        li{
            text-align: center;
            font-size: $font-size-small;
            padding: 1rem;

            &:not(:last-child){
                border-bottom: 1px solid $color-grey-light;
            }
        }
    }
}

.button-container{   
    width: 100%;    
    .btn{
        margin: 0 auto;  

        &:hover{
            color:$color-grey-light;
            background-color: $color-main-dark;
        }      
    }    
}