@import "../../styles/variables";


.background{
    background-color: $color-main-dark;
    margin: 2rem 1rem;
    padding: 2.5rem;  
    
    @media (max-width:69em) { 
        transform: skewY(5deg) translateY(0) !important;
    }; 
    

    & > *{
        transform: skewY(-5deg);    
    }
        
    
    .card-container{
        background-color: white;
        width: 30rem;
        min-height: 45rem;
        box-shadow: 0 1.5rem 4rem rgba($color-main-dark, .25);   
        border-radius: 3px;         
       
    }
}



.header{
    position: relative;
    margin: 0 auto;

    &__picture{
        height: 20rem;
        width: 100%;        
        background-blend-mode: screen;
        background-size: cover;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--sp-a1{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/markus-spiske-IFCloi6PYOA-unsplash.webp);        
        }
        &--en-a1{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/markus-spiske-IFCloi6PYOA-unsplash.webp);        
        }
        &--sp-a2{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/kelly-sikkema-OFJ4iDE2VuE-unsplash.webp);        
        }
        &--en-a2{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/kelly-sikkema-OFJ4iDE2VuE-unsplash.webp);        
        }
        &--sp-b1{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/pexels-pixabay-159711.webp);        
        }
        &--en-b1{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/pexels-pixabay-159711.webp);        
        }
        &--sp-b2{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/thought-catalog-505eectW54k-unsplash.webp);        
        }
        &--en-b2{
            background-image: 
            url(https://raw.githubusercontent.com/Oleksii30/photos/main/thought-catalog-505eectW54k-unsplash.webp);        
        }
    }
    &__level{
        width: 9rem;
        height: 9rem;
        position: absolute;
        top: 12rem;
        right: 2rem;       
        color: $color-main-dark;
        border-radius: 50%;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &--sp{
            background-color: $color-spanish-light;
        }
        &--en{
            background-color: $color-english-light;
        }
    }
}
.course-info{
    padding: 3rem;
    padding-bottom: 2rem;
    ul{
        list-style: none;
        width: 90%;  
        margin: 0 auto;          

        li{
            text-align: center;
            font-size: $font-size-small;
            padding: 1rem;

            &:not(:last-child){
                border-bottom: 1px solid $color-grey-light;
            }
        }
    }
}

.button-container{   
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;

    .btn{
        font-weight: 600;
    }
}