@import "../../styles/variables";

@mixin line {
    border: 1.5px solid $color-main-yellow;  
    background-color: $color-main-yellow; 
    transition: all 0.5s ease-in-out;  
}

.item-container{
    height: 4rem;
    padding-left: 2rem;
    
    .list-item{
        font-size: 2rem;
        color: $color-main-blue;        
        cursor: pointer;

        &:hover{
            opacity: 0.7;        
        }
    }
    .line{
        opacity: 0;
        width: 0px;    
        @include line;      
    }
    .long-line{
        opacity: 1;
        width: 12rem;
        @include line;  
    }
}