@import "../../styles/variables";

.question{
    width: 70%;
    height: 7rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-main-dark;
    font-size: $font-size-medium;
    border: 2px solid $color-main-dark;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    //margin-bottom: .5rem;
    z-index: 1;
    background-image: linear-gradient(120deg, transparent 50%, $color-main-dark 50%);
    background-size: 220%;
    transition: all .4s;

    @media (max-width:63.75em) { 
        width: 80%;
    }; 
    @media (max-width:50.8em) { 
        width: 90%;
    }; 
    @media (max-width:43.75em) { 
        width: 93%;
        font-size: 2rem;
    };
    @media (max-width:37.5em) { 
        width: 100%; 
        margin-left: 1rem;      
    };
    @media (max-width:31.25em) { 
        width: 97%; 
        margin-left: 1rem; 
        justify-content: flex-start;
        padding-left: .5rem;
        font-size: $font-size-small;
        font-weight: 700;
    }; 
    @media (max-width:28.3em) {        
        margin-left: 0.5rem;   
        
    };  
    @media (max-width:25.7em) {        
        width: 90%;        
    };  
           

    &:hover{
        background-position: 100%;
        color: white;
    }

    span{
        cursor: pointer;
    }

    .close{
        position: absolute;
        right: 1rem;
        font-size: 3rem;
        transform: rotate(45deg);

        @media (max-width:43.75em) { 
            font-size: 2rem;
        }; 
        @media (max-width:31.25em) {            
            font-size: 1.8rem;
        };    
    }
}

.answer{
    max-height: 24rem;
    width: 70%;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $color-main-dark;
    font-size: $font-size-small;       
    margin: 0 auto;    
    padding: 0;    
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
    @media (max-width:63.75em) { 
        width: 80%;
    }; 
    @media (max-width:50.8em) { 
        width: 90%;
    }; 
    @media (max-width:43.75em) { 
        width: 93%;
        
    };
    @media (max-width:37.5em) { 
        width: 100%;  
        margin-left: 1rem;      
    }; 
    @media (max-width:31.25em) { 
        width: 97%; 
        margin-left: 1rem;  
          
    };  
    @media (max-width:28.3em) {        
        margin-left: 0.5rem;        
    }; 
    @media (max-width:25.7em) {        
        width: 90%;        
    };  
    
         
    span{
        padding: 1rem;
    }
}

.question-text{
    @media (max-width:20em) {        
        width: 90%;        
    }; 
}