@import "../../styles/variables";

.story{
    margin: 0 auto;
    margin-bottom:2rem;
    width: 80%;    
    background-color:rgba(white, .7);
    box-shadow: 0 3rem 6rem rgba(black, .1);
    border-radius: 3px;
    transform: skewX(-12deg);
    padding-right: 6rem;
    padding-left: 7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;   

    @media(max-width: 57.5em){
        transform: skewX(0);
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 2rem;
        padding-bottom: 1rem;  
    }
    @media(max-width: 52.4em){
        width: 90%;
        margin-bottom:1rem;
    }
    @media(max-width: 46.9em){
        height: 20rem;
    }
    @media(max-width: 40.7em){
        height: 21rem;
    }
    @media(max-width: 37.5em){
        background-color:rgba(white, .8);
        color: $color-main-dark;
        box-shadow: none;
        width: 87%;
        border-radius: 0;
    }
    
    &__shape{
        width: 15rem;
        height: 15rem; 
        transform: skewX(12deg) translateX(-1rem);
        float: left;
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);       
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        @media(max-width: 57.5em){
            transform: skewX(0) translateX(-1rem);
            width: 12rem;
            height: 12rem;
        }   
    }
    &__img{
        height: 100%; 
        transform: scale(1.2); 
        transition: all .5s;      
    }
    &__text{
        height: 15rem;
        transform: skewX(12deg);
        font-size: 1.5rem; 

        @media(max-width: 57.5em){
            transform: skewX(0);
        }    
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;

        @media(max-width: 37.5em){
            font-size: 1.5rem;
        }
    }
    &:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    &:hover &__img{
        transform: scale(1);
        filter:blur(3px) brightness(80%);
    }
}

