@import "../../styles/variables";

.main{
    background-color: $color-grey-light;
    margin-top: -30rem;

    .row{
        padding-top: 30rem;

        h1{
            color: $color-main-dark;
            font-family: 'Varela Round', sans-serif;
            font-size: 5rem;
            font-weight: 500;
        }
    }
}