<app-header [animations]="finishedLoading"></app-header>
<div class="main-container">
    <img src="{{mainImageUrl}}" alt="main-image" (load)="onImageLoad()"> 
    <div class="bg-gradient">
        <div class="headers">
            <h1> Mil pasos</h1>
            <p> Студія іноземних мов</p>
        </div>
        <div class="icons">
            <div class="icon">
                <app-fb-icon></app-fb-icon>
            </div>
            <div class="icon">
                <app-insta-icon></app-insta-icon>
            </div>
        </div>        
    </div>    
</div>
<div 
    class="loading-page" 
    *ngIf="loading" 
    [@loader]
    (@loader.done)="onLeave($event)"
    >
    <app-loader></app-loader>
</div>

