@import "../../styles/variables";
$brushUrl: "https://lh3.googleusercontent.com/Knn9vsRoGTQ-xx9PH1LqUxm-3lmyXH8KN_QWz_eucj349VjAdkx1laoqznTDBtFznSniPvvNpw_4mSj3uuokLn2qtOuQWpjTf8lOaWnF_GQFx1bXxDy43ZzYwjuzFuPGk6I5v0m2zw=w2400";

.main-container{
    position: relative; 
    width: 100%;
    height: auto;
    font-family: 'Varela Round', sans-serif;
    
    .bg-gradient{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(
            105deg,
            rgba($color-main-dark, 1) 0%,
            rgba($color-main-dark, 1) 25%,
            transparent 25%); 
        .headers{
            position: absolute;
            left: 2rem;
            top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{            
                color: $color-main-blue;
                font-size: 6rem;
                font-weight: 500;
            }    
            p{
                color: $color-main-blue;
                font-size: 3rem;
            }  
        }
        .icons{
            position: absolute;
            display: flex;
            left: .5rem;
            bottom: 8rem;


            .icon:not(:last-child) {
                margin-right: 1.5rem;
            }
            .icon{
                width: 5rem;
                height: 5rem;
            }
        }
        
        
    }       
    img{
        width: 100%;        
    }   
}
.loading-page{
    position: fixed;  
    left: 0;
    top: 0;
    right: 0;  
    bottom: 0;
    z-index: 3;
    background-color: $color-main-dark;
}
