<div class="main">
    <div class="row u-padding-top-small">
        <div class="col-5">
            <img src="{{link1}}" alt="photo-1" class="photo-1">
            
        </div> 
        <div class="quote u-padding-top-small">            
            <h3>Mil pasos...</h3>
            <p>"This is a journey of a thousand steps, exciting and inspiring, to your dream - knowledge of a foreign language!"</p>           
           
        </div> 
        
    </div>

    <div class="row u-padding-top-small">
        <div class="medium-row">
            <h3 class="u-padding-bottom-small">Ми не навчимо вас</h3>
            <ul>
                <li>                   
                    <div class="icon-block">
                        <div class="icon-text">Розмовляти як носій за місяць</div>
                        <div class="icon">
                            <app-eng-icon></app-eng-icon>
                        </div>                        
                    </div>     
                   
                </li>
                <li>
                    <div class="icon-block">
                        <div class="icon-text">Уві сні</div>
                        <div class="icon">
                            <app-sleep-icon></app-sleep-icon>
                        </div>                        
                    </div>                   
                                      
                </li>
                <li>                    
                    <div class="icon-block">
                        <div class="icon-text">Під гіпнозом</div>
                        <div class="icon">
                            <app-hipn-icon></app-hipn-icon>
                        </div>                        
                    </div>       
                </li>
                <li>                    
                    <div class="icon-block">
                        <div class="icon-text">В нас немає чарівної пігулки</div>
                        <div class="icon">
                            <app-mag-icon></app-mag-icon>
                        </div>                        
                    </div>  
                </li>          

            </ul>
        </div>        
    </div>
    <div class="row u-margin-top-big">
        <div class="col-6">
            <p>Але є глибина та професійність</p> 
            <p>Тому ми зможемо допомогти вам опанувати мову якісно, цікаво та весело</p>           
            <p>Вивчення мови стане корисною і водночас приємною звичкою</p>
        </div>
        <div class="col-4">
            <img src="{{link2}}" alt="photo-2" class="photo-2">
        </div>  
    </div>      
</div>

                
                

                
            

