@import "../../styles/variables";

.main{
    position: relative;
    height: 85rem;
    width: 100vw;
    background-color:$color-main-dark;    
    margin-top: -.4rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}  

img{
    width: 100%;
}  

.text{
    font-size: $font-size-medium;
    color: $color-main-blue;
    padding-top: 5%;   
}

h3{
    font-size: $font-size-large;
    color:$color-main-blue;
    padding-bottom: 8%;
}

ul{
    padding-left: $font-size-medium;
    li{
        font-size: $font-size-medium;
        color: $color-main-blue;
    }
}

p{
    font-size: $font-size-medium;
    color:$color-main-blue;
    padding-top: 8%;
}

