<div class="main">
    <div class="row u-padding-top-small">
        <div class="col-5">
            <img src="{{link1}}" alt="photo-1">
        </div> 
        <div class="col-4 u-padding-top-small">
            <h3>Ми не навчимо вас</h3>
            <ul>
                <li>розмовляти як носій за місяць</li>
                <li>уві сні</li>
                <li>під гіпнозом</li>
            </ul>
            <p>В нас немає чарівної пігулки</p>
        </div> 
    </div>

    <div class="row u-padding-top-small">
        <div class="col-5">
            <div class="text">Але є глибина та професійність</div> 
            <div class="text">Тому ми зможемо допомогти вам опанувати мову якісно, цікаво та весело</div>           
            <div class="text">Вивчення мови стане корисною і водночас приємною звичкою</div>
        </div>
        <div class="col-4">
            <img src="{{link2}}" alt="photo-2">
        </div>  
    </div>
      
</div>
